.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #bfdbd3;
    border-radius: 0.3rem;
    color: #201b1f;
  }
  body {
    color: #141618;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://steemitimages.com/DQmPesPeVVFLmSQ9c9aDTsBsboPTs96yFLNqyrZSYdUKXdi/20180118_182525.png');
  }
  strong {
    font-weight: bolder;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
